name: Build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        arch: [x86, x64]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: ${{ matrix.arch }}

      - name: Build ${{ matrix.arch }}
        run: |
          msbuild sudo.sln /p:Configuration=Release /p:Platform=${{ matrix.arch }}

      - name: Package ZIP
        run: |
          mkdir out
          powershell Compress-Archive -Path "Release/*" -DestinationPath "out/sudo-${{ matrix.arch }}.zip" -Force

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: sudo-${{ matrix.arch }}
          path: out/sudo-${{ matrix.arch }}.zip
